
.mi-tabla{
    margin-top: 50px;
    border-radius: 20px;
    padding: 40px;
    border-color: brown;
}

.enlaceEdit{
    color:darkblue;
    text-decoration: none;
}

.enlaceDel{
    color:red;
    text-decoration: none;
}