
#Formulario {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #BB6653;
    margin: 60px;
    margin-bottom: 20px;
    margin-top: 30px;
    border-radius: 15px;
    border: none;
    padding: 50px;
    color: #FFF8E8;
    box-shadow: 0px 4px 10px rgba(75, 75, 75, 0.3);
    
}


#Formulario #enviar {
    
    background-color: #FFF8E8;
    color: #BB6653;
    padding: 5px 10px;
    border-radius: 3px;
    border: none;
    margin-top: 5px;
    margin-right: 6px;

}

#Formulario #enviar:hover {

    background-color: #BB6653;
    color: #FFF8E8;
    border: solid #FFF8E8 0.5px;
}


#Formulario #limpiar {
    
    background-color: #FFF8E8;
    color: #BB6653;
    padding: 5px 10px;
    border-radius: 3px;
    border: none;
    margin-top: 5px;

}

#Formulario #limpiar:hover {

    background-color: #BB6653;
    color: #FFF8E8;
    border: solid #FFF8E8 0.5px;
}


#Formulario #enviar:hover {

    background-color: #BB6653;
    color: #FFF8E8;
    border: solid #FFF8E8 0.5px;
}

#mensaje, #email, #nombre, #codigo {

    background-color: #BB6653;
    border-bottom: solid #FFF8E8 0.5px;
    border-left: none;
    border-top: none;
    border-right: none;
    border-radius: 3px;
    margin-top: 2px;
    color: #FFF8E8;
}



#email2 {

    background-color: #FFF8E8;
    border: none;
    border-radius: 3px;
    margin-top: 2px;
    color: #BB6653;

}

@media (min-width: 720px) {

    #Formulario {

        max-width: 600px;
        margin: auto;
        margin-top: 30px;
    }
    
}